* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  height: 100vh;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Slider image */
.slider-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img {
  width: 100%;
  display: flex;
}
.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
}
.capa {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url(./imagenes/bar.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.75;
  color: rgb(245, 243, 243);
  font-weight: bold;

  word-break: break-all;
  font-size: 25px;
  text-align: justify;
}
.body img {
  opacity: 0.9;
}
h2 {
  color: rgb(245, 246, 241);
  font-weight: 200px;
  opacity: 0.9;
}
.capa1 {
  background-image: url(./imagenes/cata1.jpg);
  width: 100%;
  height: 100vh;
  position: absolute;
  margin: 0;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.parrafo {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  margin-right: 10px;

  box-shadow: 1px 5px 25px rgba(239, 226, 226, 0.45);
  border-radius: 5px;
  text-align: justify;
  color: #020007;
  font-weight: 200px;
}
.parrafo img {
  width: 310px;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
}
.img {
  display: flex;
}
.img1 {
  width: 100%;
  height: auto;
}
.p {
  margin-left: 50px;
  margin-right: 50px;
  word-wrap: break-word;
  color: blue;
  opacity: 0.99;
}
.texto {
  opacity: 1;
  color: rgb(10, 3, 39);
  text-align: justify;
  font-weight: bold;
}
.h2 {
  color: rgb(44, 7, 32);
  opacity: 1;
}
.articulo {
  padding: 10 20;
  text-align: justify;
}
.imagen {
  width: 50%;
  padding: 10 20;
  float: right;
}
.eco {
  width: 40%;
  margin-left: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tour {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.imagen3 {
  width: 50%;
  padding: 10 20;
  float: left;
}
.contenedor {
  background-color: rgb(207, 252, 252);
}
.imagen3 {
  width: 50%;
  float: left;
}
.p3 {
  margin-left: 5px;
  width: 40%;
}
.revista {
  background-color: azure;
}
.h5 {
  background-color: aliceblue;
  color: black;
}
@media screen and (max-width: 1000px) {
  .eco {
    width: 80%;
  }
  .p {
    width: 80%;
    margin-left: 20px;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
  }
  .imagen {
    float: left;
    width: 100%;
  }
}
