/* Variables */
:root {
  --color-primary500: #3b1133;
  --color-secondary500: #ebe1d8;
  --gray200: #f1f1f1;
  --gray300: #e3e3e3;
  --gray400: #d6d6d6;
  --gray500: #c8c8c8;
  --gray600: #969696;
  --gray700: #646464;
  --gray800: #323232;
  --dark: #191919;
}

body {
  margin: 0;
  padding: 0;
  border-box: none;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}
/* Clases útiles */

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

/* Main Inicio */

main {
  padding-top: 6rem;
}

@media (max-width: 600px) {
  main {
    padding-top: 4rem;
  }
}

/* Anuncio publicitario */
.header-pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-secondary500);
  color: var(--gray800);
  padding: 0 3rem;
  text-align: center;
  font-size: 1rem;
}

.header-pop--close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary500);
  padding: 0.75rem 3rem;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.25rem;
  & a {
    color: var(--gray300);
  }
}
.navbar-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

.navbar-expand {
  display: none;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  color: var(--gray400);
  &:hover {
    color: var(--color-secondary500);
  }
}

.navbar-btn {
  color: var(--gray200);
  background-color: transparent;
  border: 1px solid var(--gray200);
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;

  &:hover {
    background-color: var(--gray200);
    color: var(--color-primary500);
    transition: 200ms ease-in-out;
    cursor: pointer;
  }
}

/* Navbar Mediaquery */
@media (max-width: 600px) {
  .header-pop {
    padding: 0 1rem;
    font-size: 0.65rem;
  }
  .navbar {
    padding: 0.5rem 1rem;
    z-index: 50;
  }

  .navbar-logo {
    font-size: 1rem;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-expand {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }
}

/* Navbar mobile */

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary500);
  padding: 0 0 1rem;
  border-top: 1px solid var(--color-secondary500);
  transform: translateX(-100%);
  transition: transform 500ms;
}

.navbar-mobile--show {
  transform: translateX(0);
}

.navbar-nav--mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}
/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-primary500);

  & p {
    color: var(--gray200);
    line-height: 1;
  }
}

.footer-nav {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

/* Main Inicio */

main {
  padding-top: 4rem;
}

/* Banner inicio */

.video-container {
  height: 100%;
  width: 100%;
  position: relative;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  background: linear-gradient(to top, var(--color-primary500), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Sobre la empresa */

.section-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem;
  gap: 3rem;
  background-color: var(--color-primary500);
}
.title-company {
  color: var(--gray300);
  font-size: 1.5rem;
}
.container-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.card-company {
  display: flex;
  flex-direction: column;
  text-align: center;

  & h4 {
    color: var(--gray400);
  }
  & p {
    color: var(--gray500);
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

/* Mediaquery */

@media (max-width: 600px) {
  .section-company {
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .title-company {
    font-size: 1rem;
  }
  .container-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .card-company {
    display: flex;
    flex-direction: column;
    text-align: center;
    & p {
      font-size: 0.75rem;
    }
  }
}

/* Varietales */

.section-varietales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem;
  gap: 2rem;
}
.title-varietales {
  color: var(--gray800);
  font-size: 1.5rem;
  line-height: 0;
}
.container-varietales {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.btn-varietales {
  width: 100%;
  padding: 0.5rem 2rem;
  color: var(--dark);
  background-color: var(--color-secondary500);
  border: 1px solid var(--color-secondary500);
  border-radius: 0.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: translateY(2px);
    transition: 300ms;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  }
}

/* Nuestros productos */

.wine-list {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-primary500);
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Instrument Serif", serif;
  font-family: "Poltawski Nowy", serif;
  color: burlywood;
}

.figure {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 15%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.figcaption {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.nav {
  width: 200px;
  height: 1000px;
  background-color: #f1f1f1;
  padding: 20px;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  margin-bottom: 10px;
}

.a {
  text-decoration: none;
  color: var(--gray200);
}

.h1 {
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Instrument Serif", serif;
  font-family: "Poltawski Nowy", serif;
}

.h2 {
  color: #f1f1f1;
}
.p {
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Instrument Serif", serif;
  font-family: "Poltawski Nowy", serif;

  color: #b5b1b1;
  text-align: justify;
  text-decoration: wavy;
  text-decoration-style: unset;
}
.span {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
@media screen {
  min-width: 600px;
  .img {
    width: 50%;
  }
}
